<ion-modal-view id="body">
    <ion-header-bar id="header">
        <button id="title"
                class="button button-clear item-button-left button-dark header-left"
                data-ng-click="closeAttachmentModal()">
            <i class="button-icon ion-chevron-left"></i>&nbsp;Back
        </button>
        <h1 id="title" class="title">Attachment Image</h1>
    </ion-header-bar>
    <ion-content id="content" overflow-scroll="true">
        <img id="attachmentImage" src="data:image/jpeg;base64,{{ incident.attachments.img }}"/>
    </ion-content>
</ion-modal-view>