<ion-view id="body" title="home" >
    <ion-content id="content" overflow-scroll="true" >
        <ion-scroll>
            <div id="status" class="button button-full button-assertive animated slideInDown"
                 ng-class="{'button-balanced': connection.isOnline && connection.isConnected,
                            'button-energized': connection.isOnline && !connection.isConnected}">
                {{ (!connection.isOnline) ? 'Disconnected' : (!connection.isConnected ? 'Connecting...' : 'Connected')  }}
            </div>

            <div id="body" class="first-item">
                <div class="list list-inset "
                     data-ng-hide="isObjectEmpty(assignment)" >
                    <a class="item item-button-right" data-ng-click="print()">
                        <!--<i class="icon fa fa-exclamation"></i>-->
                        <b>Incident Assignment: </b> {{ assignment.$id }}
                        <button class="button button-clear button-light">
                            <i class="icon fa fa-chevron-right"></i>
                        </button>
                    </a>
                </div>
                <div class="list list-inset"  data-ng-hide="requests.length == 0">
                    <div class="item center"><b>Assignment Requests</b></div>
                    <a class="item item-button-right" data-ng-repeat="request in requests"
                       data-ng-click="openIncidentModal(request)">
                        <!--<i class="icon fa fa-info-circle"></i>-->
                        <!--<b>Request ID</b>: -->
                        {{ request.$id }}
                        <button class="button button-clear button-light">
                            <i class="icon fa fa-chevron-right"></i>
                        </button>
                    </a>
                </div>

                <div class="list list-inset"  data-ng-hide="incidents.length == 0">
                    <div class="item center"><b>Incident Reports</b></div>
                    <a class="item item-button-right" data-ng-repeat="incident in incidents"
                       data-ng-click="openIncidentModal(incident)">
                        <!--<i class="icon fa fa-info-circle"></i>-->
                        <!--<b>Incident ID</b>: -->
                        {{ incident.$id }}
                        <button class="button button-clear button-light">
                            <i class="icon fa fa-chevron-right"></i>
                        </button>
                    </a>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
