<ion-view id="body" title="home" >
    <ion-content id="content" overflow-scroll="true" >
        <div class="list list-inset" data-ng-show="assignment != null">
            <a class="item item-icon-left item-button-right" data-ng-click="print()">
                <i class="icon fa fa-exclamation"></i>
                <b>New Assignment</b>
                <button class="button button-clear button-light">
                    <i class="icon fa fa-chevron-right"></i>
                </button>
            </a>
        </div>
        <div class="list list-inset" data-ng-show="incidents.length == 0">No Incident Reports</div>
        <div class="list list-inset"  data-ng-show="incidents.length != 0">
            <a class="item item-icon-left item-button-right" data-ng-repeat="incident in incidents"
               data-ng-click="openIncidentModal(incident.$id)">
                <i class="icon fa fa-info-circle"></i>
                <b>Incident ID</b>: {{ incident.$id }}
                <button class="button button-clear button-light">
                    <i class="icon fa fa-chevron-right"></i>
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>
