<ion-view id="body" title='&nbsp;REPORT A CRIME'>
    <ion-nav-buttons side="right">
        <button class="button button-clear"
                data-ng-click="submitReport()"
                data-ng-show="(type.name != '(Select)' && input.sender.name != null && input.sender.contact != null &&
                      location.latitude != null && location.longitude != null && isConnected) ? true : false">
            <i class="fa fa-send button button-clear"></i>
            &nbsp;
        </button>
    </ion-nav-buttons>

    <!--Content-->
    <ion-content id="content" overflow-scroll="true" >
        <ion-scroll>
            <!--<p id="settings"></p>-->
            <!--<p id="firebase"></p>-->
            <!--<p id="geolocation"></p>-->
            <div class="list list-inset">
                    <div class="item item-stable item-button-right" data-ng-click="chooseType()">
                        <b>INCIDENT:</b>
                        {{ type.name }}
                        <button class="icon button button-clear button-light"
                                ng-class="{'button-balanced': input.type != null}">
                                <i class="fa fa-chevron-right"
                                   ng-class="{'fa-check-circle': input.type != null}"></i>
                        </button>
                    </div>
                    <div class="item item-stable item-button-right">
                        <b>PERSONAL INFO</b>
                        <button class="icon button button-clear button-light"
                                ng-class="{'button-balanced': (input.sender.name != null && input.sender.contact != null)}">
                            <i class="fa fa-chevron-right"
                               ng-class="{'fa-check-circle': (input.sender.name != null && input.sender.contact != null)}">
                            </i>
                        </button>
                    </div>
                    <div class="item item-stable item-button-right">
                        <b>LOCATION:</b>&nbsp;
                        {{ (location.latitude != null && location.longitude != null)
                        ? 'Ready' : 'Retrieving...'}}
                        <button class="icon button button-clear"
                                ng-class="{'button-balanced': (location.latitude != null && location.longitude != null),
                                            'button-assertive': (location.latitude == null || location.longitude == null)}">
                            <i class="{{ (location.latitude != null && location.longitude != null)
                                            ? 'fa fa-check-circle' : 'fa fa-spinner fa-spin' }}"></i>
                        </button>
                    </div>

                    <div class="item item-stable item-button-right">
                        <b>INTERNET:</b>&nbsp;
                        {{ isOnline ? 'Connected' : 'Not Connected '}}
                        <button class="button button-clear"
                                ng-class="{'button-balanced': isOnline, 'button-assertive': !isOnline}">
                            <i class="{{ isOnline ? 'ion-wifi' : 'fa fa-times-circle' }}"></i>
                        </button>
                    </div>

                    <div class="item item-stable item-button-right">
                        <b>SERVER:</b>&nbsp;
                        {{ isConnected ? 'Ready' : 'Not connected '}}
                        <button class="button button-clear"
                                ng-class="{'button-balanced': isConnected, 'button-positive': !isConnected}"
                                data-ng-click="refreshUI()">
                            <i class="{{ isConnected ? 'fa fa-check-circle' : 'fa fa-refresh' }}"></i>
                        </button>
                    </div>


                    <div class="item item-stable item-button-right">
                        <b>ATTACHMENT:</b> {{ input.attachments.img == null ? "(None)" : "Ready" }}&nbsp;
                        <button class="button button-clear button-light"
                                ng-class="{'button-balanced': input.attachments.img != null}"
                                data-ng-click="takePicture()">
                            <i class="fa fa-camera"></i>
                        </button>
                    </div>
                    <div class="item item-stable"
                              data-ng-show="input.attachments.img != null">
                        <img id="attachmentImage" src=""/>
                    </div>
            </div>
        </ion-scroll>
    </ion-content>

</ion-view>


