<ion-tabs class="tabs-icon-top tabs-dark">
    <ion-tab class="font" title="Home" icon="fa fa-home" href="#/app/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab class="font" title="Assignment" icon="fa fa-pencil" href="#/app/assignment">
        <ion-nav-view name="assignment-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab class="font" title="Map" icon="fa fa-location-arrow" href="#/app/map">
        <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>