<ion-tabs class="tabs-icon-top tabs-dark">
    <ion-tab class="font" title="Home" icon="icon ion-home" href="#/app/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab class="font" title="Assignment" icon="icon ion-document-text" href="#/app/assignment">
        <ion-nav-view name="assignment-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab class="font" title="Map" icon="icon ion-map" href="#/app/map">
        <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>