<ion-modal-view id="body">
    <ion-header-bar id="header">
        <button id="title"
                class="button button-clear item-button-left button-dark header-left"
                data-ng-click="closeIncidentMapModal()">
            <i class="button-icon ion-chevron-left"></i>&nbsp;Back
        </button>
        <h1 id="title" class="title">Incident</h1>
    </ion-header-bar>
    <ion-content id="content" overflow-scroll="true">
        <leaflet width="100%" height="100%" center="map.center" defaults="map.defaults"
                 markers="map.markers" tiles="map.tiles"></leaflet>
    </ion-content>
</ion-modal-view>