<ion-modal-view id="body">
    <ion-header-bar id="header">
        <button id="title"
                class="button button-clear item-button-left button-dark header-left"
                data-ng-click="closeModal()">
            <i class="button-icon ion-chevron-left"></i>&nbsp;Back
        </button>
        <h1 id="title" class="title">Incident Details</h1>
    </ion-header-bar>

    <ion-content id="content" overflow-scroll="true">
        <ion-scroll>
            <div class="list card">

                <div class="item"
                     data-ng-hide="!isObjectEmpty(assignment) || isKeyInArray(incident.$id, requests) ">
                    <button class="button button-full button-balanced"
                            data-ng-click="confirmPassword()">Request as Assignment</button>
                </div>
                <div href="#" class="item">
                    <!--<i class="icon ion-home"></i>-->
                    Incident Type: {{ incident.type }}
                </div>

                <div href="#" class="item">
                    <!--<i class="icon ion-wifi"></i>-->
                    Sender Name: {{ incident.sender.name }}
                </div>

                <div href="#" class="item">
                    <!--<i class="icon ion-ios7-telephone"></i>-->
                    Contact number: {{ incident.sender.contact | checkIfNull}}
                </div>

                <div href="#" class="item">
                    <!--<i class="icon ion-wifi"></i>-->
                    Submitted at: {{ incident.timestamp | convertToDateTime }}
                </div>

                <div class="item button-bar">
                    <a class="button button-light icon ion-paperclip"
                       data-ng-disabled="!hasAttachments"
                       data-ng-click="openAttachmentModal(incident)"></a>
                    <a class="button button-light icon ion-map"
                       data-ng-click="openIncidentMapModal()"></a>
                </div>


            </div>

        </ion-scroll>
    </ion-content>
</ion-modal-view>