<ion-modal-view id="body">
    <ion-header-bar id="header">
        <button id="title"
                class="button button-clear item-button-left button-dark header-left"
                data-ng-click="closeIncidentModal()">
            <i class="button-icon ion-chevron-left"></i>&nbsp;Back
        </button>
        <h1 id="title" class="title">Incident Details</h1>
        <button id="title" data-ng-click="openIncidentMapModal()"
            class="button button-clear item-button-right button-dark header-right">
            <i class="fa fa-map-marker fa-lg"></i>&nbsp;
        </button>
    </ion-header-bar>

    <ion-content id="content" overflow-scroll="true">
        <ion-scroll>
            <div class="list card">

                <div class="item"
                     data-ng-hide="officer.assignment.id != null || isElementInObject(incident, pendingRequests) ">
                    <button class="button button-full button-balanced"
                            data-ng-click="confirmPassword()">Request as Assignment</button>
                </div>

                <div href="#" class="item">
                    <!--<i class="icon ion-home"></i>-->
                    Incident Type: {{ incident.type }}
                </div>

                <div href="#" class="item">
                    <!--<i class="icon ion-wifi"></i>-->
                    Sender Name: {{ incident.sender.name }}
                </div>


                <div href="#" class="item">
                    <!--<i class="icon ion-ios7-telephone"></i>-->
                    Contact number: {{ incident.sender.contact | checkIfNull}}
                </div>

                <div href="#" class="item">
                    <!--<i class="icon ion-wifi"></i>-->
                    Submitted at: {{ incident.timestamp | convertToDateTime }}
                </div>


            </div>

        </ion-scroll>
    </ion-content>
</ion-modal-view>