<ion-view id="body" title="Assignment" >

    <ion-content id="content" overflow-scroll="true" >
        <ion-scroll>
            <div>
                <div class="list card" data-ng-hide="isObjectEmpty(assignment)">
                    <div class="item">
                        <button class="button button-full button-balanced"
                                data-ng-click="confirmPassword()">Confirm as valid</button>
                    </div>

                    <div class="item">
                        <!--<i class="icon ion-home"></i>-->
                        Incident Type: {{ assignment.type }}
                    </div>

                    <div class="item">
                        <!--<i class="icon ion-wifi"></i>-->
                        Sender Name: {{ assignment.sender.name }}
                    </div>


                    <div class="item">
                        <!--<i class="icon ion-ios7-telephone"></i>-->
                        Contact number: {{ assignment.sender.contact | checkIfNull}}
                    </div>

                    <div class="item">
                        <!--<i class="icon ion-wifi"></i>-->
                        Submitted at: {{ assignment.timestamp | convertToDateTime }}
                    </div>

                    <div class="item button-bar">
                        <a class="button button-light icon ion-image"
                           data-ng-disabled="!hasAttachments"
                           data-ng-click="openAttachmentModal(assignment)"></a>
                        <a class="button button-light icon ion-map"
                           data-ng-click="openIncidentMapModal(assignment)"></a>
                        <a class="button button-light icon ion-clipboard "
                           data-ng-click="openNotesModal()"></a>
                        <a class="button button-light icon ion-paperclip"
                           data-ng-click="openDocumentsModal()"></a>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
