<ion-view id="body" title="Settings" >
    <ion-content id="content" overflow-scroll="true" >
        <div class="list list-inset">
            <a class="item item-icon-left item-button-right" data-ng-click="print()">
                <i class="icon fa fa-question-circle"></i>
                <b>About</b>
                <button class="button button-clear button-light">
                    <i class="icon fa fa-chevron-right"></i>
                </button>
            </a>
        </div>

        <div class="list list-inset">
            <a class="item item-icon-left item-button-right" data-ng-click="openPersonalInfoModal()">
                <i class="icon fa fa-info"></i>
                <b>Personal Info</b>
                <button class="button button-clear button-light">
                    <i class="icon fa fa-chevron-right"></i>
                </button>
            </a>
            <a class="item item-icon-left item-button-right" href="#">
                <i class="icon fa fa-home"></i>
                <b>Home Location</b>
                <button class="button button-clear button-light">
                    <i class="icon fa fa-chevron-right"></i>
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>
