<ion-view id="body" title="Assignment" >

    <ion-content id="content" overflow-scroll="true" >
        <div id="status" class="button button-full button-assertive animated slideInDown"
             ng-class="{'button-balanced': connection.isOnline && connection.isConnected,
                            'button-energized': connection.isOnline && !connection.isConnected}">
            {{ (!connection.isOnline) ? 'Disconnected' : (!connection.isConnected ? 'Connecting...' : 'Connected')  }}
        </div>
        <div id="body" class="first-item">
            <ion-scroll>
                <div class="list card" data-ng-hide="isObjectEmpty(assignment)">
                    <div class="item">
                        <!--<i class="icon ion-home"></i>-->
                        Incident Type: {{ assignment.type }}
                    </div>

                    <div class="item">
                        <!--<i class="icon ion-wifi"></i>-->
                        Sender Name: {{ assignment.sender.name }}
                    </div>


                    <div class="item">
                        <!--<i class="icon ion-ios7-telephone"></i>-->
                        Contact number: {{ assignment.sender.contact | checkIfNull}}
                    </div>

                    <div class="item">
                        <!--<i class="icon ion-wifi"></i>-->
                        Submitted at: {{ assignment.timestamp | convertToDateTime }}
                    </div>

                    <div class="item button-bar">
                        <a class="button button-light icon ion-image"
                           data-ng-disabled="!hasAttachments"
                           data-ng-click="openAttachmentModal(assignment)"></a>
                        <a class="button button-light icon ion-map"
                           data-ng-click="openIncidentMapModal(assignment)"></a>
                        <a class="button button-light icon ion-clipboard "
                           data-ng-click="openNotesModal()"></a>
                        <a class="button button-light icon ion-paperclip"
                           data-ng-click="openDocumentsModal()"></a>
                    </div>
                    <div class="item">
                        <button class="button button-full button-balanced"
                                data-ng-disabled="!connection.isConnected"
                                data-ng-click="confirmPassword()">Confirm as valid</button>
                    </div>

                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
